@import "slider.scss";

:root {
  --main: #fefefe;
  --color: #242930;
  --acent: #0fb4ff;

  --link-color: #000;
  --link-hover: #242930;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  font-family: "Nunito", Sans-Serif;
  color: #000;
  background: var(--main);
}

a:not([class]) {
  color: var(--link-color);
  text-decoration: underline;
  cursor: pointer;

  &:hover {
    color: var(--link-hover);
    text-decoration: underline;
  }
}
